.team {
    background-color: var(--background-team);
  }
  
  .team__title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--text);
    margin-bottom: 50px;
  }
  
  .team-list {
    display: flex;
    flex-wrap: wrap;
  }
  
  .team-list__item:not(:last-child) {
    flex-basis: calc(100%/3-30px);
    margin-right: 30px;
    background: #FFFFFF;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px; 
  }
  
  .team-list__item {
    flex-basis: calc(100%/3-30px);
    background: #FFFFFF;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
    
  }
  
  .team-group {
    padding-top: 30px;
    padding-bottom: 30px;
  }
  
  .team-group__title {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--text);
    margin-bottom: 10px;
  }
  
  .team-group__text {
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--main-text);
    margin-bottom: 16px;
  }
  
  .team-group-list {
    display: flex;
    justify-content: center;
  }
  
  .team-group-list__item+.team-group-list__item {
    margin-left: 10px;
  }
  
  .team-group-link {
    width: 44px;
    height: 44px;
    background-color: var(--white);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  
  .team-group-link:hover, 
  .team-group-link:focus {
    background-color: var(--accent);
  }
  
  .team-group-link:hover .team-group-link__icon {
    fill: var(--white);
  }
  
  .team-group-link:focus .team-group-link__icon {
    fill: var(--white);
  }
  
  .team-group-link__icon {
    fill: #AFB1B8;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }